/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: fit-content;
}

#screen {
    display: flex;
    border: 3px solid black;
    height: 10vh;
    width: 100%;
    justify-content: flex-end;
}

#calc-buttons {
    margin: auto;
    width: 30vw;
    height: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100%;
    background: black;
}

.number {
    color: white;
    background: #2d2d2d;
    outline: none;
    border: none;
    height: 10vh;
    margin: 5px 3px;
    border-radius: 23px;
}

.operator {
    color: white;
    background: #fe9505;
    outline: none;
    border: none;
    height: 10vh;
    margin: 5px 3px;
    border-radius: 23px;
}

.number:hover {
    background: #545353;
    cursor: pointer;
}

.operator:hover {
    background: #de9229;
    cursor: pointer;
}